page-register {
  .bgContent{
    background: linear-gradient(#7799f5dc, #f59bf5);

  }

  .logo{
    margin-top: 3%;
  }

  .list-form{
    margin-top: 5%;
  }

  .icon {
color: #2a6bda;
  }

  .login{
    color: #f4f4f4;
  }

  h2{
    color: rgb(43, 43, 49);
  }
}
